*.o
*.a
*.so
*.xml
*.pyc
*.log
**/logs/**
.vscode/
__pycache__
.cproject
.project
.pydevproject
.settings/
venv/
.idea/
.DS_Store
/tests/.cache/
/bin/
/VARIANT
/BINDIR
/tests/tests_report.xml
site/
/tests/benchmarks/profile_*
wordlist.dic
