version: 2.1

commands:
  abort_for_docs:
    steps:
      - run:
          name: Avoid tests for docs
          command: |
            if [[ $CIRCLE_BRANCH == *_docs ]]; then
              echo "Identifies as documents PR, no testing required"
              circleci step halt
            fi

  early_return_for_forked_pull_requests:
    description: >-
      If this build is from a fork, stop executing the current job and return success.
      This is useful to avoid steps that will fail due to missing credentials.
    steps:
      - run:
          name: Early return if this build is from a forked PR
          command: |
            if [[ -n "$CIRCLE_PR_NUMBER" ]]; then
              echo "Nothing to do for forked PRs, so marking this step successful"
              circleci step halt
            fi

  checkout-all:
    steps:
      - checkout
      - run:
          name: Checkout submodules
          command: git submodule update --init --recursive

  install-prerequisites:
    steps:
      - run:
          name: Install prerequisites
          command: |
            ./deps/readies/bin/getpy3
            ./system-setup.py

  ci_steps:
    parameters:
      platform:
        type: string
      getredis_params:
        type: string
        default: ""
      build_params:
        type: string
        default: ""
      test_params:
        type: string
        default: ""
    steps:
      - abort_for_docs
      - checkout-all
      - install-prerequisites
      - run:
          name: Install Redis
          command: python3 ./deps/readies/bin/getredis -v 6 --force <<parameters.getredis_params>>
      - run:
          name: Build
          command: bash -l -c make build <<parameters.build_params>> SHOW=1
      - run:
          name: Unit Test
          command: |
            mkdir -p ~/workspace/tests
            bash -l -c make unittests TEST_REPORT_DIR=$HOME/workspace/tests <<parameters.test_params>> SHOW=1
      - run:
          name: Flow Test
          no_output_timeout: 30m
          command: |
            mkdir -p ~/workspace/tests
            bash -l -c make test TEST_REPORT_DIR=$HOME/workspace/tests <<parameters.test_params>> SHOW=1
      - run:
          name: Run flow with gears
          no_output_timeout: 30m
          command: |
            bash -l -c make test TEST_REPORT_DIR=$HOME/workspace/tests GEARS=1 GEN=0 CLUSTER=1 <<parameters.test_params>> SHOW=1 VERBOSE=1

  package:
    steps:
      - abort_for_docs
      - run:
          name: Package
          command: |
            bash -l -c make pack BRANCH="${CIRCLE_BRANCH//[^A-Za-z0-9._-]/_}" INTO=$HOME/workspace/packages SHOW=1
      - early_return_for_forked_pull_requests
      - persist_to_workspace:
          root: ~/workspace
          paths:
            - 'packages/release/*.zip'
            - 'packages/branch/*.zip'
      - store_test_results:
          path: ~/workspace/tests

  deploy:
    parameters:
      from:
        type: string
    steps:
      - abort_for_docs
      - early_return_for_forked_pull_requests
      - run:
          name: Deploy to S3
          command: >-
            aws s3 cp <<parameters.from>>/ s3://redismodules/$PACKAGE_NAME/ --acl public-read --recursive --exclude "*" --include "*.zip"

  benchmark-automation:
    parameters:
      github_actor:
        type: string
        default: $CIRCLE_USERNAME
      module_path:
        type: string
        default: ../../bin/redistimeseries.so
    steps:
      - run:
          name: Install remote benchmark tool dependencies
          command: |
            mkdir -p /workspace
            TF_EXE_FILE_NAME=/workspace/terraform ./tests/benchmarks/remote/install_deps.sh
      - run:
          name: Install remote benchmark python dependencies
          command: python3 -m pip install -r ./tests/benchmarks/requirements.txt
      - run:
          name: Run CI benchmarks on aws
          timeout: 60m
          no_output_timeout: 20m
          command: |
            cd ./tests/benchmarks
            export AWS_ACCESS_KEY_ID=$PERFORMANCE_EC2_ACCESS_KEY
            export AWS_SECRET_ACCESS_KEY=$PERFORMANCE_EC2_SECRET_KEY
            export AWS_DEFAULT_REGION=$PERFORMANCE_EC2_REGION
            export EC2_PRIVATE_PEM=$PERFORMANCE_EC2_PRIVATE_PEM

            redisbench-admin run-remote \
              --terraform_bin_path /workspace/terraform \
              --module_path << parameters.module_path >> \
              --github_actor << parameters.github_actor >> \
              --github_repo $CIRCLE_PROJECT_REPONAME \
              --github_org $CIRCLE_PROJECT_USERNAME \
              --github_sha $CIRCLE_SHA1 \
              --github_branch $CIRCLE_BRANCH \
              --upload_results_s3 \
              --triggering_env circleci \
              --push_results_redistimeseries

jobs:
  valgrind:
    docker:
      - image: redisfab/rmbuilder:6.2.3-x64-buster
    resource_class: xlarge
    steps:
      - ci_steps:
          platform: debian
          build_params: VALGRIND=1 -j
          test_params: VALGRIND=1 SIMPLE=1
          getredis_params: --valgrind

  lint:
    docker:
      - image: redislabsmodules/llvm-toolset:latest
    steps:
      - abort_for_docs
      - checkout-all
      - install-prerequisites
      - run:
          name: lint
          command: bash -l -c make lint

  build:
    docker:
      - image: redisfab/rmbuilder:6.2.3-x64-buster
    steps:
      - ci_steps:
          platform: debian
      - package
  
  performance_ci_automation:
    docker:
      - image: redisfab/rmbuilder:6.2.3-x64-buster
    steps:
      - early_return_for_forked_pull_requests
      - checkout-all
      - install-prerequisites
      - run:
          name: Build
          command: bash -l -c make build 
      - benchmark-automation

  build-macos:
    macos:
      xcode: 11.6.0
    steps:
      - run:
          name: Set up workspace
          command: |
            sudo mkdir -p ~/workspace
            sudo chown $USER ~/workspace
      - ci_steps:
          platform: macos

  build-multiarch-docker:
    machine:
      enabled: true
      image: ubuntu-1604:202010-01
    steps:
      - abort_for_docs
      - checkout-all
      - run:
          name: Set up Python3
          command: pyenv global 3.7.0
      - run:
          name: Setup Docker client experimental features
          command: |
            sudo ./deps/readies/bin/getdocker --just-enable-exp
            docker version
      - run:
          name: Build
          command: |
            sudo docker login -u redisfab -p $DOCKER_REDISFAB_PWD
            bash -l -c make -C build/docker build
            sudo bash -l -c make -C build/docker publish
          no_output_timeout: 20m

  coverage:
    docker:
      - image: redisfab/rmbuilder:6.2.3-x64-buster
    steps:
      - abort_for_docs
      - checkout-all
      - install-prerequisites
      - run:
          name: Build & Test
          command: |
            bash -l -c make build COV=1 SHOW=1
            bash -l -c make test COV=1
            bash <(curl -s https://codecov.io/bash) -f bin/linux-x64-debug-cov/cov.info
      - store_artifacts:
          path: coverage
          destination: coverage
      - run:
          name: Test with Gears
          command: |
            bash -l -c make test COV=1 GEARS=1 CLUSTER=1 SHOW=1
            bash <(curl -s https://codecov.io/bash) -f bin/linux-x64-debug-cov/cov.info

  deploy_package:
    parameters:
      package:
        type: string
    docker:
      - image: redisfab/rmbuilder:6.2.3-x64-buster
    steps:
      - abort_for_docs
      - early_return_for_forked_pull_requests
      - attach_workspace:
          at: ~/workspace
      - deploy:
          from: ~/workspace/packages/<<parameters.package>>
      - store_artifacts:
          path: ~/workspace/packages/<<parameters.package>>

  release-automation:
    docker:
      - image: redisfab/rmbuilder:6.2.3-x64-buster
    steps:
      - abort_for_docs
      - early_return_for_forked_pull_requests
      - checkout-all
      - run:
          name: Run QA Automation
          command: MODULE_VERSION="$CIRCLE_TAG" EMAIL="$QA_EMAIL" VERBOSE=1 TEST=release ./tests/qa/run

  nightly-automation:
    docker:
      - image: redisfab/rmbuilder:6.2.3-x64-buster
    steps:
      - abort_for_docs
      - early_return_for_forked_pull_requests
      - checkout-all
      - run:
          name: Run QA Automation
          command: MODULE_VERSION="$CIRCLE_BRANCH" EMAIL="$QA_EMAIL" VERBOSE=1 TEST=nightly QUICK=1 ./tests/qa/run


on-any-branch: &on-any-branch
  filters:
    branches:
      only: /.*/
    tags:
      only: /.*/

never: &never
  filters:
    branches:
      ignore: /.*/
    tags:
      ignore: /.*/

on-master: &on-master
  filters:
    branches:
      only: master
    tags:
      ignore: /.*/

on-integ-branch: &on-integ-branch
  filters:
    branches:
      only:
        - master
        - /^\d+\.\d+.*$/
        - /^feature-.*$/
    tags:
      ignore: /.*/

not-on-integ-branch: &not-on-integ-branch
  filters:
    branches:
      ignore:
        - master
        - /^\d+\.\d+.*$/
        - /^feature-.*$/
    tags:
      ignore: /.*/

on-version-tags: &on-version-tags
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v[0-9].*/

on-integ-and-version-tags: &on-integ-and-version-tags
  filters:
    branches:
      only:
        - master
        - /^\d+\.\d+.*$/
        - /^feature-.*$/
    tags:
      only: /^v[0-9].*/


workflows:
  version: 2
  build_and_package:
    jobs:
      - lint:
          <<: *on-any-branch
      - build:
          <<: *on-any-branch         
      - valgrind:
          requires:
            - build
          <<: *on-integ-branch
      - performance_ci_automation:
          context: common
          requires:
            - build          
          <<: *on-integ-branch
      - build-macos:
          #@@<<: *on-version-tags
          <<: *on-any-branch
      - build-multiarch-docker:
          <<: *on-version-tags
      - coverage:
          context: common
          <<: *on-any-branch
      - deploy_package:
          name: deploy_branch
          package: branch
          context: common
          requires:
            - build
            - valgrind
          <<: *on-master
      - deploy_package:
          name: deploy_release
          package: release
          context: common
          requires:
            - build
            - valgrind
          <<: *on-version-tags
      - release-automation:
          context: common
          requires:
            - deploy_release
          <<: *on-version-tags

  nightly:
    triggers:
      - schedule:
          cron: "20 17 * * 0,3"
          filters:
            branches:
              only:
                - master
                - /^feature-.*$/
    jobs:
      - build-macos
      - valgrind
      - performance_ci_automation:
          context: common
