version: 2.1

commands:
  deploy:
    parameters:
      from:
        type: string
    steps:
      - run:
          name: Deploy to S3
          command: >-
            aws s3 cp <<parameters.from>>/ s3://redismodules/$PACKAGE_NAME/ --acl public-read --recursive --exclude "*" --include "*.zip"

jobs:
  build:
    docker:
      - image: 'redislabsmodules/rmbuilder:latest'
    steps:
      - checkout
      - run:
          name: Pull Submodules
          command: make fetch
      - run:
          name: Install prerequisites
          command: python system-setup.py
      - run:
          name: Build
          command: make build SHOW=1
      - run:
          name: Test
          command: make test
      - run:
          name: Package
          command: >-
            mkdir -p /workspace/packages && 
            make pack BRANCH="$(CIRCLE_BRANCH)" INTO=/workspace/packages SHOW=1
      - persist_to_workspace:
          root: /workspace/packages
          paths:
            - '*.zip'
      - store_test_results:
          path: /workspace/tests

  deploy_branch:
    docker:
      - image: 'redislabsmodules/rmbuilder:latest'
    steps:
      - attach_workspace:
          at: /workspace
      - deploy:
          from: /workspace/packages/branch
      - store_artifacts:
          path: /workspace/packages/branch

  deploy_release:
    docker:
      - image: 'redislabsmodules/rmbuilder:latest'
    steps:
      - attach_workspace:
          at: /workspace
      - deploy:
          from: /workspace/packages/release
      - store_artifacts:
          path: /workspace/packages/release

  deploy_docs:
    docker:
      - image: 'redislabsmodules/rmbuilder:latest'
    steps:
      - checkout
      - run:
          name: Build Docs
          command: mkdocs build
      - run:
          name: Deploy Docs to S3
          command: >-
            aws s3 cp site s3://oss.redislabs.com/$WEBSITE_FOLDER/ --acl public-read --recursive

  run_automation:
    docker:
      - image: 'redislabsmodules/rmbuilder:latest'
    steps:
      - run:
          name: Run QA Automation
          command: >-
            apt-get update && apt-get install -y curl &&
            curl -f -k -u $QA_AUTOMATION_USERNAME:$QA_AUTOMATION_PASS -X POST
            -H "Content-Type: application/json"
            -d '{"service_id":"single_module_test_cycle_sanity_and_extended", "name":"redistimeseries automation-testing", "properties":{"sut_version":"master", "email_recipients":"t9b6i7v6e2q3d0s4@redislabs.slack.com", "sut_environments":[], "tools_environment":{}, "module_name": "redistimeseries", "module_version":"master", "cycle_environments_setup":[{"teardown":true, "name":"xenial-amd64-aws", "concurrency":1}, {"teardown":true, "name":"bionic-amd64-aws", "concurrency":1}]}}'
            https://qa-automation-center.redislabs.com/processes

workflows:
  version: 2
  build_and_package:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - deploy_branch:
          requires:
            - build
          filters:
            branches:
              only: master
      - deploy_release:
          requires:
            - build
          filters:
            branches:
              ignore: /.*/
            tags:
              only: '/^v[0-9].*/'
      - run_automation:
          requires:
            - deploy_branch
      - deploy_docs:
          filters:
            branches:
              only: master
