RLTest @ git+https://github.com/RedisLabsModules/RLTest@b6277948f262562a486d7c5efca032d69bba7f75
redis>=5.0.0,<6
statistics
# hiredis==2.0.0  # disabled until RESP3-related problem is resolved
#gevent~=22.10.1
