name: Event CI

permissions:
  id-token: write
  contents: read

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  prepare-values:
    runs-on: ubuntu-latest
    outputs:
      redis-ref: ${{ steps.set-env.outputs.redis-ref }}
    steps:
      - name: set env
        id: set-env
        run: |
          echo "redis-ref=7.2" >> $GITHUB_OUTPUT  # todo change per version/tag
  linter:
    uses: ./.github/workflows/flow-linter.yml
    secrets: inherit
  build-linux-x64:
    uses: ./.github/workflows/flow-linux.yml
    needs: [prepare-values]
    with:
      arch: x64
      redis-ref: ${{needs.prepare-values.outputs.redis-ref}}
      quick: true
    secrets: inherit
  build-linux-arm64:
    uses: ./.github/workflows/flow-linux.yml
    needs: [prepare-values]
    with:
      arch: arm64
      redis-ref: ${{needs.prepare-values.outputs.redis-ref}}
      quick: false
    secrets: inherit
  linux-valgrind:
    uses: ./.github/workflows/flow-linux.yml
    needs: [prepare-values]
    with:
      arch: x64
      os: jammy
      redis-ref: ${{needs.prepare-values.outputs.redis-ref}}
      quick: true
      run_valgrind: true
    secrets: inherit
  linux-sanitizer:
    uses: ./.github/workflows/flow-linux.yml
    needs: [prepare-values]
    with:
      arch: x64
      os: jammy
      redis-ref: ${{needs.prepare-values.outputs.redis-ref}}
      quick: true
      run_sanitizer: true
    secrets: inherit
