name: CI Full suite - MACOS
# This is a full workflow for the production branches and tags, which
# includes building and testing on all supported platforms, and
# uploading the artifacts to S3.

# TODO:
#
# 1. Remove the use of "readies" completely.
# 2. Remove the use of all the scripts for anything and do everything
#    right here in the workflow.
# 3. Use the corresponding actions for the end goal: aws s3 upload
#    action. This also will remove the need for the installation of aws-cli.
#
# More info: jobs.steps.uses: docker://alpine:3.8 for docker images,
# To use the AWS CLI: https://hub.docker.com/r/amazon/aws-cli
permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch:
    inputs:
      os:
        description: "OS version to run the tests on. MacOS 12 and 13 - x86-64, MacOS 14 - ARM (Apple Chips)."
        required: true
        type: string
        default: "macos-12"
      run_valgrind:
        description: 'Run valgrind on the tests'
        type: boolean
        default: false
      run_sanitizer:
        description: 'Run sanitizer on the tests'
        type: boolean
        default: false
      redis-ref:
        description: 'Redis ref to checkout'  # todo change per version/tag
        type: string
        required: true
      quick: 
        description: 'Run quick tests'
        type: boolean
        default: false
      beta-version:
        description: 'Beta version for S3 uploads'
        type: string
        required: false
        default: ''
  workflow_call:
  # the defaults and options here are the same likes in "workflow_dispatch"
    inputs:
      os:
        description: "OS version to run the tests on. MacOS 13 - x86-64, MacOS 14 - ARM (Apple Chips)."
        required: false
        type: string
      run_valgrind:
        description: 'Run valgrind on the tests'
        type: boolean
        default: false
      run_sanitizer:
        description: 'Run sanitizer on the tests'
        type: boolean
        default: false
      redis-ref:
        description: 'Redis ref to checkout'  # todo change per version/tag
        type: string
        required: true
      quick: 
        description: 'Run quick tests'
        type: boolean
        default: false
      beta-version:
        description: 'Beta version for S3 uploads'
        type: string
        required: false
        default: ''


jobs:
  setup-environment:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
      redis-ref: ${{ steps.set-env.outputs.redis-ref }}
      TAGGED: ${{ steps.set-env.outputs.TAGGED }}
      TAG: ${{ steps.set-env.outputs.TAG }}
      BRANCH: ${{ steps.set-env.outputs.BRANCH }}
      TAG_OR_BRANCH: ${{ steps.set-env.outputs.TAG }}${{ steps.set-env.outputs.BRANCH }}
      os: ${{ steps.set-matrix.outputs.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: set env
        id: set-env
        uses: ./.github/actions/setup-env
        with:
          github-ref: ${{ github.ref }}
          redis-ref: ${{ inputs.redis-ref }}
      - name: Set matrix
        id: set-matrix
        run: |
          OS="${{ inputs.os }}"
          if [ -z "${OS}" ]; then
            OS='["macos-13", "macos-14", "macos-15"]'
          else
            OS='["${OS}"]'
          fi
          echo "${OS}"
          echo "os=${OS}" >> $GITHUB_OUTPUT
  macos:
    env:
      TAGGED: ${{ needs.setup-environment.outputs.TAGGED }}
      VERSION: ${{ needs.setup-environment.outputs.TAG }}
      BRANCH: ${{ needs.setup-environment.outputs.BRANCH }}
      TAG_OR_BRANCH: ${{ needs.setup-environment.outputs.TAG_OR_BRANCH}}
      PIP_BREAK_SYSTEM_PACKAGES: 1
      CFLAGS: "-Wno-nullability-completeness -Wno-nullability-extension"
      CXXFLAGS: "-Wno-nullability-completeness -Wno-nullability-extension"
      CMAKE_FLAGS: -DCMAKE_POLICY_VERSION_MINIMUM=3.5
    runs-on: ${{matrix.os}}
    needs: setup-environment
    strategy:
      fail-fast: false
      matrix:
        # 6.0.20 can't be built due to Redis bug.
        os: ${{fromJson(needs.setup-environment.outputs.os)}}
    defaults:
      run:
        shell: bash -l -eo pipefail {0}
    steps:
      - name: Install prerequisites
        run: |
          brew install make coreutils autoconf automake pyenv-virtualenv libtool zlib libiconv
      - name: Full checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Checkout Redis
        uses: actions/checkout@v4
        with:
          repository: 'redis/redis'
          ref: ${{ needs.setup-environment.outputs.redis-ref }}
          path: 'redis'
          submodules: recursive
      - name: Setup specific
        working-directory: .install
        run: ./install_script.sh
      - name: Install python dependencies
        uses: ./.github/actions/install-python-deps
        with: 
          use-venv: '1'
          extra-packages-to-install: 'gevent'
      - name: check for cmake 3.5
        shell: bash
        run: |
          cmake --version
          if [ $(cmake --version | grep -o '3\.5' | wc -l) -eq 0 ]; then
            echo "CMake 3.5 is not installed"
            exit 1
          fi
      - name: Build Redis
        working-directory: redis
        shell: bash
        run: |
          make install -j `nproc`
          echo "REDIS_SERVER=$GITHUB_WORKSPACE/redis/src/redis-server" >> $GITHUB_ENV
          echo "$GITHUB_WORKSPACE/redis/src" >> $GITHUB_PATH
          export PATH="$GITHUB_WORKSPACE/redis/src:$PATH"
      - name: Build Deps
        shell: bash
        run: |
          make deps -j `nproc`
      - name: Build Module
        shell: bash
        run: |
          make build -j `nproc`
      - name: Run tests
        uses: ./.github/actions/run-tests
        with: 
          use-venv: '1'
          quick: ${{inputs.quick && '1' || '0'}}
      - name: Upload test artifacts
        if: failure()
        uses: ./.github/actions/upload-artifacts
        with: 
          image: ${{ matrix.os }}
      - name: Pack module
        uses: ./.github/actions/pack-module
        with:
          use-venv: '1'
          beta-version: ${{ inputs.beta-version }}
      - name: Upload artifacts to S3
        uses: ./.github/actions/upload-artifacts-to-s3-without-make
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          github-ref: ${{ github.ref }}
          beta-version: ${{ inputs.beta-version }}
