name: Build and Test ubuntu ARM instances

permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab
    inputs:
      redis-ref:
        description: 'Redis ref to checkout'
        required: true
        default: 'unstable'
      quick: 
        description: 'Run quick tests'
        type: boolean
        default: false
      beta-version:
        description: 'Beta version for S3 uploads'
        type: string
        required: false
        default: ''
  workflow_call: # Allows to run this workflow from another workflow
    inputs:
      redis-ref:
        description: 'Redis ref to checkout'
        type: string
        required: true
      quick: 
        description: 'Run quick tests'
        type: boolean
        default: false
      beta-version:
        description: 'Beta version for S3 uploads'
        type: string
        required: false
        default: ''


jobs:
  setup-environment:
    runs-on: ubuntu-latest
    outputs:
      redis-ref: ${{ steps.set-env.outputs.redis-ref }}
      TAGGED: ${{ steps.set-env.outputs.TAGGED }}
      TAG: ${{ steps.set-env.outputs.TAG }}
      BRANCH: ${{ steps.set-env.outputs.BRANCH }}
      TAG_OR_BRANCH: ${{ steps.set-env.outputs.TAG }}${{ steps.set-env.outputs.BRANCH }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: set env
        id: set-env
        uses: ./.github/actions/setup-env
        with:
          github-ref: ${{ github.ref }}
          redis-ref: ${{ inputs.redis-ref }}
  ubuntu-arm64:
    runs-on: ubuntu24-arm64-4-16 # ubuntu24-arm64-2-8
    needs: setup-environment
    strategy:
      fail-fast: false
      matrix:
        docker:
          - image: "ubuntu:bionic"
            nick: "bionic"
            install_git: |
              apt-get update && apt-get install -y software-properties-common
              add-apt-repository ppa:git-core/ppa && apt-get update && apt-get install -y git
            install_deps: |
              apt update -qq
              apt upgrade -yqq
              apt dist-upgrade -yqq
              apt install -yqq software-properties-common unzip rsync
              add-apt-repository ppa:ubuntu-toolchain-r/test -y
              apt update
              apt install -yqq build-essential wget curl make gcc-10 g++-10 openssl libssl-dev cargo binfmt-support \
                lsb-core awscli libclang-dev clang curl zlib1g-dev jq automake libtool
              update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-10 60 --slave /usr/bin/g++ g++ /usr/bin/g++-10
              
              wget https://cmake.org/files/v3.28/cmake-3.28.0.tar.gz
              tar -xzvf cmake-3.28.0.tar.gz
              cd cmake-3.28.0
              ./configure
              make -j `nproc`
              make install
              cd ..
              ln -s /usr/local/bin/cmake /usr/bin/cmake
              wget https://www.python.org/ftp/python/3.9.6/Python-3.9.6.tgz
              tar -xvf Python-3.9.6.tgz
              cd Python-3.9.6
              ./configure
              make -j `nproc`
              make altinstall
              cd ..
              rm /usr/bin/python3 && ln -s `which python3.9` /usr/bin/python3
              rm /usr/bin/lsb_release
              python3 --version
              make --version
              cmake --version
              python3 -m pip install --upgrade pip
              curl "https://awscli.amazonaws.com/awscli-exe-linux-aarch64.zip" -o "awscliv2.zip"
              unzip awscliv2.zip
              ./aws/install
          - image: "ubuntu:focal"
            nick: focal
            install_git: | 
              apt-get update && apt-get install -y software-properties-common
              add-apt-repository ppa:git-core/ppa && apt-get update && apt-get install -y git
            install_deps: |
              apt update -qq
              apt upgrade -yqq
              apt install -yqq wget make clang-format gcc python3 python3-venv python3-pip lcov git openssl libssl-dev \
                  unzip rsync build-essential gcc-10 g++-10 cargo libclang-dev clang curl cmake jq automake libtool
              update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-10 60 --slave /usr/bin/g++ g++ /usr/bin/g++-10
          - image: "ubuntu:jammy"
            nick: "jammy"
            install_git: |
              apt-get update && apt-get install -y git
            install_deps: |
              apt update -qq
              apt upgrade -yqq
              apt install -yqq git wget build-essential lcov openssl libssl-dev \
                python3 python3-pip python3-venv python3-dev unzip rsync libclang-dev clang curl cmake jq automake libtool
          - image: "mcr.microsoft.com/azurelinux/base/core:3.0"
            nick: "azurelinux3"
            install_git: |
              tdnf install --noplugins --skipsignature -y ca-certificates git
            install_deps: |
              cd .install
              echo ::group::Install dependencies
                ./install_script.sh 
              echo ::endgroup::
          - image: "rockylinux:9"
            nick: "rocky9"
            install_git: |
              dnf install -y git
            install_deps: |
              cd .install
              echo ::group::Install dependencies
                ./install_script.sh
              echo ::endgroup::

    defaults:
      run:
        shell: bash
    env:
      TAGGED: ${{ needs.setup-environment.outputs.TAGGED }}
      VERSION: ${{ needs.setup-environment.outputs.TAG }}
      BRANCH: ${{ needs.setup-environment.outputs.BRANCH }}
      TAG_OR_BRANCH: ${{ needs.setup-environment.outputs.TAG_OR_BRANCH}}
      PIP_BREAK_SYSTEM_PACKAGES: 1
    container:
      image: ${{ matrix.docker.image }}
    steps:
      - name: Install git
        run: |
          ${{ matrix.docker.install_git }}
      - name: git checkout
        run: |
          # Perform checkout
          REPO_URL="https://github.com/${{ github.repository }}.git"
          # Clone the repository to the current directory
          git config --global --add safe.directory /__w/${{ github.repository }}
          git clone --recurse-submodules --depth=1 $REPO_URL .
          REF=${{github.sha}}
          git fetch origin ${REF}
          git checkout ${REF}
          git submodule update --init --recursive

          # Perform checkout
          REPO_URL="https://github.com/redis/redis.git"
          # Clone the repository to the current directory
          git clone --recurse-submodules $REPO_URL redis
          cd redis
          git fetch origin ${{needs.setup-environment.outputs.redis-ref}}
          git checkout ${{needs.setup-environment.outputs.redis-ref}}
          git submodule update --init --recursive
      - name: Setup Python for testing
        if: matrix.docker.image == 'ubuntu:jammy'
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
          architecture: 'arm64'
      - name: Install dependencies
        run: |
          ${{ matrix.docker.install_deps }}
        env:
          DEBIAN_FRONTEND: noninteractive
      - name: Install python dependencies
        uses: ./.github/actions/install-python-deps
        with: 
          use-venv: '1'
      - name: build
        uses: ./.github/actions/build-module-and-redis
        with:
          use-venv: '1'
      - name: Run tests
        uses: ./.github/actions/run-tests
        with: 
          use-venv: '1'
          quick: ${{inputs.quick && '1' || '0'}}
      - name: Upload test artifacts
        if: failure()
        uses: ./.github/actions/upload-artifacts
        with: 
          image: ${{ matrix.docker.image }}
      - name: Pack module
        uses: ./.github/actions/pack-module
        with:
          use-venv: '1'
          beta-version: ${{ inputs.beta-version }}
      - name: Upload artifacts to S3
        uses: ./.github/actions/upload-artifacts-to-s3-without-make
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          github-ref: ${{ github.ref }}
          beta-version: ${{ inputs.beta-version }}
