name: build for mariner2

on:
  pull_request:
  push:
    branches:
      - master
      - 1.8
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: write   # This is required for actions/checkout

jobs:
  build-mariner2:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l -o pipefail {0}
    container:
      image: mcr.microsoft.com/cbl-mariner/base/core:2.0
    steps:
      - name: Install pre-checkout dependencies
        run: tdnf install --noplugins --skipsignature -y ca-certificates git
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Install dependencies
        run: |
          bash .install/mariner2.sh
      - name: Get Redis
        uses: actions/checkout@v4
        with:
          repository: redis/redis
          ref: '6.2.13'  # todo: use this is a parameter when we have flows for multiple platforms
          path: redis
      - name: Build Redis
        working-directory: redis
        run: make install
      - name: Build and test TS
        run: make test
      - name: Pack module
        run: make pack BRANCH=${{ github.ref_name }} SHOW=1
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::168085023892:role/GitHubRedisTimeSeriesS3Upload
          role-session-name: GitHub_to_AWS_S3_Upload
          aws-region: "us-east-1"
      - name: Upload artifacts to s3 - staging
        if: ${{ startsWith(github.head_ref, 'feature-') }}
        run: |
          make upload-artifacts SHOW=1 VERBOSE=1
          make upload-release SHOW=1 STAGING=1 VERBOSE=1
      - name: Upload artifacts to s3 - release  # todo: trigger this manually instead
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        run: make upload-release SHOW=1 VERBOSE=1
