name: build for mariner2
on:
  workflow_call:
    inputs:
      redis-ref:
        description: 'Redis ref to checkout'  # todo change per version/tag
        type: string
        required: true
      quick: 
        description: 'Run quick tests'
        type: boolean
        default: false
      beta-version:
        description: 'Beta version for S3 uploads'
        type: string
        required: false
        default: ''

jobs:
  setup-environment:
    runs-on: ubuntu-latest
    outputs:
      redis-ref: ${{ steps.set-env.outputs.redis-ref }}
      TAGGED: ${{ steps.set-env.outputs.TAGGED }}
      TAG: ${{ steps.set-env.outputs.TAG }}
      BRANCH: ${{ steps.set-env.outputs.BRANCH }}
      TAG_OR_BRANCH: ${{ steps.set-env.outputs.TAG }}${{ steps.set-env.outputs.BRANCH }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: set env
        id: set-env
        uses: ./.github/actions/setup-env
        with:
          github-ref: ${{ github.ref }}
          redis-ref: ${{ inputs.redis-ref }}
  build-mariner2:
    runs-on: ubuntu-latest
    needs: setup-environment
    defaults:
      run:
        shell: bash -l -o pipefail {0}
    env:
      TAGGED: ${{ needs.setup-environment.outputs.TAGGED }}
      VERSION: ${{ needs.setup-environment.outputs.TAG }}
      BRANCH: ${{ needs.setup-environment.outputs.BRANCH }}
      TAG_OR_BRANCH: ${{ needs.setup-environment.outputs.TAG_OR_BRANCH}}
      PIP_BREAK_SYSTEM_PACKAGES: 1
      TEST: test_random_traffic_crash.py:test_random_traffic_no_crash
      GEN: 1
      SLAVES: 1
      AOF: 1
      AOF_SLAVES: 1
      OSS_CLUSTER: 1
    container:
      image: mcr.microsoft.com/cbl-mariner/base/core:2.0
    steps:
      - name: Install pre-checkout dependencies
        run: tdnf install --noplugins --skipsignature -y ca-certificates git
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
      - name: Install dependencies
        run: |
          bash .install/mariner2.sh
      - name: Install redis-command-generator
        run: |
          if [[ -f venv/bin/activate ]]; then
            . venv/bin/activate
          fi
          pip install redis-command-generator || true
      - name: Get Redis
        uses: actions/checkout@v4
        with:
          repository: redis/redis
          ref: ${{inputs.redis-ref}}
          path: redis
      - name: Build Redis
        working-directory: redis
        run: make install
      - name: Build and test TS
        run: make test QUICK=${{inputs.quick && '1' || '0'}}
      - name: Pack module
        uses: ./.github/actions/pack-module
        with:
          use-venv: '0'
          beta-version: ${{ inputs.beta-version }}
      - name: Upload artifacts to S3
        uses: ./.github/actions/upload-artifacts-to-s3-without-make
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          github-ref: ${{ github.ref }}
          beta-version: ${{ inputs.beta-version }}
